<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<Import Project="..\..\..\..\..\..\publishsettings.targets" />

	<PropertyGroup>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish />
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<DeleteExistingFiles>False</DeleteExistingFiles>
	</PropertyGroup>
</Project>