<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataAdapterManager defaultProvider="xconnect">
      <providers>
        <add name="xconnect" type="Sitecore.Analytics.XConnect.DataAccess.XConnectDataAdapterProvider, Sitecore.Analytics.XConnect">
          <!-- Allow Sitecore to load facets into Session https://doc.sitecore.com/xp/en/developers/latest/sitecore-experience-platform/load-facets-into-session.html -->
          <!--
					<facets hint="raw:AddFacet">
						<facet facetKey="YourCustomFacet"/>
					</facets>
					-->
        </add>
      </providers>
    </dataAdapterManager>
  </sitecore>
</configuration>